[Desktop Entry]
Name=Bazzite Portal
Name[cs]=Portál Bazzite
Name[de]=Bazzite Portal
Name[el]=Πύλη Bazzite
Name[es]=Portal Bazzite
Name[fr]=Portail Bazzite
Name[it]=Portale Bazzite
Name[ru]=Bazzite Портал
Comment=Helps you setup Bazzite
Comment[cs]=Pomůže vám nastavit Bazzite
Comment[de]=Hilft bei der Einrichtung von Bazzite
Comment[el]=Σας βοηθά να ρυθμίσετε το Bazzite
Comment[es]=Te ayuda a configurar Bazzite
Comment[fr]=Vous aide à configurer Bazzite
Comment[it]=Ti aiuta a configurare Bazzite
Comment[ru]=Помогает вам настроить Bazzite
Exec=yafti_gtk.py /run/host/usr/share/yafti/yafti.yml
Icon=io.github.xxjsonderuloxx.yafti-gtk
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=bazzite;setup;configuration;
